<html>
<%
   t = 57
   f = (c.to_i * 9 / 5) + 32
%>
<head>
    <title>Convert Celcius to Fahrenheit</title>
</head>
<body>
<h1></h1>

<form id="t_convert">
    <label form="t_convert" for="t_celcius">Please enter a Celcius value.</label>
    <input id="t_celcius" name="t" value="<%= t %>"/>
</form>
<p>In Fahrenheit, that's <%= f %> degrees.</p>
</body>
</html>